@(shortNote: models.content.ShortNote)

<style>
    .thumbnail img{
        height:100%;
        max-height: 100%;
        width: 100%;
    }

</style>
<div class="shortNoteBlock shortNote" id="shortNote@shortNote.id" style="overflow : hidden">
    <div class="shortNoteBlockFeaturedImage">
        <a href="#" class="thumbnail" style="max-height: 300px; overflow : hidden ;">
        @if(shortNote.featuredImage != null) {
            <img src="/assets@shortNote.featuredImage.path.substring(6)">
        } else {
            <img src="@routes.Assets.at("img/landingpage/banner-bg.jpg")">
            }
        </a>

    </div>

    <div class="shortNoteBlockContent">
        <div class="shortNoteBlockTitle" >
            <h4><a href="@routes.Application.getShortNote(shortNote.slug)">@shortNote.title</a></h4>


        </div>
        <div class="shortNoteBlockText">
           @Html(controllers.Application.excerpt(shortNote.text))
        </div>
        <div class="shortNoteBlockMeta">
            <p class="" style="overflow: hidden">
            @if(shortNote.tags.size()>0) {
                <i class="fa fa-tags"></i>
                @for(tag <- shortNote.tags) {
                    <a href="@routes.Application.tag(tag.slug)"> <label class="label label-default">@tag.slug</label></a>
                }
            }
            </p>



        </div>

    </div>
    <div class="shortNoteBlockUserHelp">
        @if(controllers.Application.getLocalUser(session()) != null) {
            @if(shortNote.user.equals(controllers.Application.getLocalUser(session()))) {

                <a href="@routes.Application.editShortnote(shortNote.slug)">Edit</a>
            }else{
               <span class="capitalize label label-primary" style="padding:5px; display:inline-block"> @shortNote.user.name</span>
            }
        }

    </div>

</div>