@(shortNote: models.content.ShortNote)

<div class="listCard shortNote" id="shortNote@shortNote.id" style="overflow : hidden">
    <div class="listCardFeaturedImage">
    @if(shortNote.featuredImage != null) {
        <img src="/assets@shortNote.featuredImage.path.substring(6)">
    } else {
        <img src="@routes.Assets.at("img/landingpage/banner-bg.jpg")">
        }
    </div>

    <div class="listCardBody">
        <div class="listCardBodyTop" >
            <h4><a href="@routes.Application.getShortNote(shortNote.slug)">@shortNote.title</a></h4>


        </div>
        <div class="listCardBodyMid">
           @Html(controllers.Application.excerpt(shortNote.text))
        </div>
        <div class="listCardBodyBottom">
            <p class="" style="overflow: hidden">
            @if(shortNote.tags.size()>0) {
                <i class="fa fa-tags"></i>
                @for(tag <- shortNote.tags) {
                    <a href="@routes.Application.tag(tag.slug)"> <label class="label label-default">@tag.slug</label></a>
                }
            }
             <span class="pull-right"> @shortNote.score</span>
            </p>



        </div>

    </div>
    <div class="listCardFooter">
        @if(controllers.Application.getLocalUser(session()) != null) {
            @if(shortNote.user.equals(controllers.Application.getLocalUser(session()))) {

                <a href="@routes.Application.editShortnote(shortNote.slug)">Edit</a>
            }else{
              <span class="capitalize">  <a href="@routes.Application.profile(shortNote.user.name)">@shortNote.user.name </a></span>
            }
        }

    </div>

</div>