
@(shortNote:models.content.ShortNote,hasUpvoted:Boolean,hasDownvoted:Boolean,hasReported:Boolean)
@import models.content.FlagType

<div class="postCard shortNote"  id="shortNote@shortNote.id" style="overflow:hidden">
    @if(shortNote.featuredImage!=null){
        <div class="postCardFeaturedImage">
            <img src="assets/@shortNote.featuredImage.path.substring(6)">
        </div>

    }else{
        <div class="postCardFeaturedImage">
            <img src="@routes.Assets.at("img/landingpage/banner-bg.jpg")">
        </div>
    }
    @if(shortNote.flags.size()>0){

        <div class="alert alert-danger"> This post is flagged under @for((flag,index)<-shortNote.flags.zipWithIndex){
            @if(index>0){
                ,
        }else{

            }
            <strong> @flag.flagType</strong>

        }</div>
    }
    <div class="postCardBody">
    <div class="postCardBodySidebar">


        <p><button class="btn btn-success
                            @if(hasUpvoted){
            btn-lg

        }
        upvote-button" ng-click='doUpvote($event)'><i class="fa fa-chevron-up" ></i> <span class="badge upvote-badge">@shortNote.upvotes.size()</span></button></p>

        <p><button class="btn btn-danger
                            @if(hasDownvoted){
            btn-lg

        }

        downvote-button" ng-click="doDownvote($event)"><i class="fa fa-chevron-down" ></i> <span class="badge downvote-badge"> @shortNote.downvotes.size()</span></button></p>



    </div>
    <div class="postCardBodyContent ">
        <div class="postCardBodyContentTop">
        <h1><a href="@routes.Application.getShortNote(shortNote.slug)">@shortNote.title</a></h1>
        </div>
        <div class="postCardBodyContentMid">


        @Html(shortNote.html)
        </div>
        <div class="postCardBodyContentBottom">
        @if(shortNote.tags.size()>0){
            <i class="fa fa-tags"></i>
            @for(tag<-shortNote.tags){
                <a href="@routes.Application.tag(tag.slug)"> <label class="label label-default">@tag.slug</label></a>
            }
            |
        }

            @if(controllers.Application.getLocalUser(session())!=null){
                @if(shortNote.user.equals(controllers.Application.getLocalUser(session()))){
                    <a class="" href="@routes.Application.editShortnote(shortNote.slug)">Edit</a>
                }else{

                    @if(hasReported){
                        <a id="reportButton"  data-toggle="tooltip" data-placement="top" title="You Have Already Reported This Post">Report Abuse  <i class="fa fa-check"></i> </a>
                        <script>
                        console.log($("#reportButton" ).tooltip());
                        $("#reportButton").tooltip();
                        </script>
                    }else{

                        <a  data-toggle="modal" data-target="#abuseModal">Report Abuse</a>
                    }


                        <!--MOdal Part-->
                    <div class="modal fade" id="abuseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Thanks for the headsup!</h4>
                                </div>
                                <div class="modal-body" ng-controller="reportSubmitController">
                                    I think this post is not a good fit because:
                                    <form action="@controllers.content.routes.ShortNote.report" method="post" ng-submit="submit($event)" >
                                        <input type="hidden"  name="id" value="@shortNote.id">
                                        <select name="reportType">
                                        @for(fType <- FlagType.values()){
                                            <option value="@fType.name()">@fType.name()</option>
                                        }
                                        </select>


                                        <input type="submit" value="Go">
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!--  End Modal-->

                }
            }


        </div>

    </div>
        <div class="clearfix"></div>
    </div>



<div class="postCardFooter">
    <span class="capitalize">                <a href="@routes.Application.profile(shortNote.user.name)">@shortNote.user.name </a>
    </span>
    <span class="pull-right">@shortNote.createdTime</span>


</div>




</div>