@(shortNote: models.content.ShortNote)

<div class="shortNoteNewItem" id="shortNote@shortNote.id" style="overflow : hidden">
    <div class="col-md-1">

        <p><span class="likeBox label label-primary"><i class="fa fa-star-o"></i>@shortNote.score</span></p>
    </div>
    <div class="col-md-3 col-xs-6">
    <div class="featuredImage">

            <a href="#" class="thumbnail">
                @if(shortNote.featuredImage != null) {
                    <img src="/assets@shortNote.featuredImage.path.substring(6)">
                } else {
                    <img src="@routes.Assets.at("img/landingpage/banner-bg.jpg")">
                }

            </a>

    </div>
    </div>
    <div class="col-md-8">
    <div class="">
        <div class="shortNoteTitle" >
            <h4 class="capitalize"><a href="@routes.Application.getShortNote(shortNote.slug)">@shortNote.title</a></h4>


        </div>
        <div class="shortNoteExcerpt">
           @Html(controllers.Application.excerpt(shortNote.text))
        </div>
        <div class="shortNoteTags">
            <p class="" style="overflow: hidden">
            @if(shortNote.tags.size()>0) {
                <i class="fa fa-tags"></i>
                @for(tag <- shortNote.tags) {
                    <a href="@routes.Application.tag(tag.slug)"> <label class="label label-info">@tag.slug</label></a>
                }
            }

            </p>



        </div>

    </div>
    <div class="shortNoteEdit">
        @if(controllers.Application.getLocalUser(session()) != null) {
            @if(shortNote.user.equals(controllers.Application.getLocalUser(session()))) {

                <a href="@routes.Application.editShortnote(shortNote.slug)">Edit</a>
            }else{
              <span class="capitalize">  <a href="@routes.Application.profile(shortNote.user.name)">@shortNote.user.name </a></span>
            }
        }

    </div>
    </div>
</div>