@(localUser: models.User = null)
@import views.html.admin.partials._
    @scripts={
        <script src='@routes.Assets.at("js/jquery.hotkeys.js")'></script>
        <script src='@routes.Assets.at("js/google-prettify/prettify.js")'></script>
        <script src='@routes.Assets.at("js/bootstrap-wysiwyg.js")'></script>
        <script src='@routes.Assets.at("js/angular.js")'></script>
        <script src='@routes.Assets.at("js/angular-route.min.js")'></script>
        <script src='@routes.Assets.at("js/angular-sanitize.min.js")'></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src='@routes.Assets.at("js/ui-bootstrap-tpls-0.11.0.min.js")'></script>


        <script src='@routes.Assets.at("js/restangular.js")'></script>
        <script src='@routes.Assets.at("js/angular-file-upload.min.js")'></script>
        <script src='@routes.Assets.at("js/angularapps/user_profile.js")'></script>
        <script src='@routes.Assets.at("js/angularapps/admin-dashboard.js")'></script>
        <script src='@routes.Assets.at("js/angularapps/admin-data.js")'></script>
    }
    @scriptsTop={

    }
    @links={
        <link rel="apple-touch-icon" href="//mindmup.s3.amazonaws.com/lib/img/apple-touch-icon.png" />
        <link rel="shortcut icon" href="http://mindmup.s3.amazonaws.com/lib/img/favicon.ico" >
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href='@routes.Assets.at("css/bootstrap-wysiwyg.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("css/google-prettify/prettify.css")'>
    }
@template_admin_dashboard(Messages("playauthenticate.navigation.home"), "home",scriptsTop,scripts,links) {


<div class="adminData" ng-app="adminData">
    <div class="container-fluid" ng-controller="userController" ng-init="init()">
        <div class="col-md-12">
               <div class="users-table" id="users">    <legend>Users</legend>
                    <button class="btn btn-primary" ng-click="changeRoles()"  ng-disabled="!usersSelected" >Change Roles</button>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>#</th>
                                <th>User Name</th>
                                <th>User Email</th>
                                <th>User Role</th>
                                <th>User LastLogin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in usersList">
                                <td><input type="checkbox" class="user-checkbox" data-user-id="{{$index}}">
                                </td>
                                <td>{{$index+1}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td><span ng-repeat="role in user.roles">{{role.roleName}}</span></td>
                                <td>{{user.lastLogin |date:'MMM d, y h:mm:ss a Z'}}</td>
                            </tr>
                        </tbody>
                    </table></div>
        </div>
    </div>

</div>




}