@(localUser:User,forumAnswer:models.Forum.ForumAnswer)
@import views.html.helper.form

@import models.Forum._
@import views.html.templates._

    @scripts={
        <script src='@routes.Assets.at("js/jquery.hotkeys.js")'></script>
        <script src='@routes.Assets.at("js/google-prettify/prettify.js")'></script>
        <script src='@routes.Assets.at("js/bootstrap-wysiwyg.js")'></script>
        <script src='@routes.Assets.at("js/angular.js")'></script>
        <script src='@routes.Assets.at("js/angular-route.min.js")'></script>
        <script src='@routes.Assets.at("js/angular-sanitize.min.js")'></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src='@routes.Assets.at("js/ui-bootstrap-tpls-0.11.0.min.js")'></script>


        <script src='@routes.Assets.at("js/restangular.js")'></script>



    }
    @scriptsTop={

    }
    @links={
        <link rel="apple-touch-icon" href="//mindmup.s3.amazonaws.com/lib/img/apple-touch-icon.png" />
        <link rel="shortcut icon" href="http://mindmup.s3.amazonaws.com/lib/img/favicon.ico" >
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href='@routes.Assets.at("css/bootstrap-wysiwyg.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("css/google-prettify/prettify.css")'>
    }
@template_user_dashboard_semantic_new(Messages("playauthenticate.navigation.home"), "home",scriptsTop,scripts,links) {

<div class="">
    <div >
    <h1 class="page-header" >Edit Answer</h1>

    @form(action = controllers.Forum.routes.Forum.saveEditedAnswer(), args = 'id -> "editAnswerForm",'class->"form-horizontal"){
        <div class="form-group">
        <textarea name="answerText" class="form-control" rows="3">@forumAnswer.text</textarea>
            </div>
        <input type="hidden" name="slug" value="@forumAnswer.slug">
        <div class="form-group">
            <button class="btn btn-success" type="submit">Update</button>

        </div>
    }
    </div>

</div>

}