@(playForm: Form[Career],career: Career)
@import helper._
@import helper.twitterBootstrap._

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Careers") {

	@subjectPresentOr() {
		@defining(Application.getLocalUser(session())) { user =>
			@if(user.isAdmin() || user.isTeacher()){
			@helper.form(action = routes.ContentController.careerUpdate(career.id.toString()),'class->"form") {
				@helper.inputText(playForm("name"),'id -> "name",'class -> "form-control",'required ->"required")
				@helper.inputText(playForm("skills"),'id -> "skills",'class -> "form-control")
				@helper.inputText(playForm("experience"),'id -> "experience",'class -> "form-control")
				@helper.textarea(playForm("roles"),'id -> "roles",'class -> "form-control")
				<button type="submit" class="btn btn-success">Go</button>
			}
		}
		}
	}{

	}

}
