@(playForm: Form[Franchise],franchises: List[Franchise])
@import helper._
@import helper.twitterBootstrap._

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Franchise") {

	@for(franchise <- franchises) {
		<div class="jumbotron">
			<h1>@franchise.name</h1>

				<p>@franchise.location</p>
				<p>@franchise.request</p>
				<p>@franchise.aboutUs</p>

			@subjectPresentOr() {
				@defining(Application.getLocalUser(session())) { user =>
					@if(user.isAdmin()){
						<p><a class="danger" href="@routes.ContentController.franchise()">Delete</a></p>
					}
				}
			}{

			}
		</div>

	}


		@helper.form(action = routes.ContentController.saveFranchise(), 'class -> "form") {
			@helper.inputText(playForm("name"), 'id -> "name", 'class -> "form-control", 'required -> "required")
			@helper.inputText(playForm("location"), 'id -> "skills", 'class -> "form-control", 'required -> "required")
			@helper.textarea(playForm("request"), 'id -> "experience", 'class -> "form-control", 'required -> "required")
			@helper.textarea(playForm("aboutUs"), 'id -> "roles", 'class -> "form-control", 'required -> "required")
			<button type="submit" class="btn btn-success">Go</button>
		}


}
