@(localUser: models.User = null,shortNoteList:List[models.content.ShortNote])
@import views.html.templates._

@scripts={
    <script src='@routes.Assets.at("js/jquery.hotkeys.js")'></script>
    <script src='@routes.Assets.at("js/google-prettify/prettify.js")'></script>
    <script src='@routes.Assets.at("js/bootstrap-wysiwyg.js")'></script>
    <script src='@routes.Assets.at("js/angular.js")'></script>
    <script src='@routes.Assets.at("js/angular-route.min.js")'></script>
    <script src='@routes.Assets.at("js/angular-sanitize.min.js")'></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src='@routes.Assets.at("js/ui-bootstrap-tpls-0.11.0.min.js")'></script>


    <script src='@routes.Assets.at("js/restangular.js")'></script>
    <script src="@routes.Assets.at("js/angularapps/user_home.js")"></script>


}
@scriptsTop={

}
@links={
    <link rel="apple-touch-icon" href="//mindmup.s3.amazonaws.com/lib/img/apple-touch-icon.png" />
    <link rel="shortcut icon" href="http://mindmup.s3.amazonaws.com/lib/img/favicon.ico" >
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href='@routes.Assets.at("css/bootstrap-wysiwyg.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("css/google-prettify/prettify.css")'>
}
@template_user_dashboard_semantic_new(Messages("playauthenticate.navigation.home"), "home",scriptsTop,scripts,links) {


<div ng-app="userHome">

    <div class="row">
    <div class="container-fluid" ng-controller="shortNoteFeedController">
        <div class="">
        @if(shortNoteList!=null){
            @for((shortNote,index) <-shortNoteList.zipWithIndex){


                    @shortListItemNew(shortNote)


            }

        }


            @*<div ng-repeat="item in feed.data track by $index" class="jumbotron" style="overflow:hidden">*@
                   @*<div class="col-md-2">*@
                       @*<legend>{{item.user.name}}</legend>*@
                       @*<h7 >{{item.createdTime| date:'medium'}}</h7>*@
                   @*</div>*@
                    @*<div class="col-md-10">*@
                        @*<h1>{{item.title}}</h1>*@
                        @*<h5>{{item.slug}}</h5>*@
                        @*<p ng-bind-html="item.html"></p>*@
                    @*</div>*@
@*<hr>*@




                @*</div>*@


        </div>


    </div>

</div>
</div>
}