@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._
@main("login"){

                        @* Display proprietary login form *@
                        @helper.form(routes.Application.doLogin) {

                            @if(loginForm.hasGlobalErrors) {
                                <p class="error">
                                    <span class="label label-important">@loginForm.globalError.message</span>
                                </p>
                            }

                            @inputText(
                                loginForm("email"),
                                'class -> "form-control",
                                '_label -> "",
                                '_showConstraints -> false,
                                'placeholder -> "Email Address"
                            )

                            @inputPassword(
                                loginForm("password"),
                                '_showConstraints -> false,
                                '_label -> "",
                                'class -> "form-control",
                                'placeholder -> "Password"


                            )

                            <div class="clearfix">
                                <input type="submit" value="@Messages("playauthenticate.login.now")" class=" btn btn-primary" style="margin-top:15px"> <br/>
                            </div>
                            <br/>


                        }


}