@(signupForm: Form[_])
@import helper._
@import helper.twitterBootstrap._
@main("link") {



                                @helper.form(routes.Application.doSignup) {

                                    @if(signupForm.hasGlobalErrors) {
                                        <p class="error">
                                            <span class="label label-important">@signupForm.globalError.message</span>
                                        </p>
                                    }

                                    @inputText(
                                        signupForm("name"),
                                        'class -> "form-control",
                                        '_label -> "",
                                        '_showConstraints -> false,
                                        'placeholder -> "Name"
                                    )
                                    @inputText(
                                        signupForm("email"),
                                        'class -> "form-control",
                                        '_label -> "",
                                        '_showConstraints -> false,
                                        'placeholder -> "Email Address"
                                    )

                                    @inputPassword(
                                        signupForm("password"),
                                        'class -> "form-control",
                                        '_label -> "",
                                        '_showConstraints -> false,
                                        'placeholder -> "Password"
                                    )

                                    @inputPassword(
                                        signupForm("repeatPassword"),
                                        'class -> "form-control",
                                        '_label -> "",
                                        '_showConstraints -> false,
                                        'placeholder -> "Repeat Password",
                                        '_error -> signupForm.error("password")
                                    )

                                    <div class="clearfix">
                                        <input type="submit" value="Get Started!" class=" btn btn-success btn-lg" style="margin-top:15px"> <br/>
                                    </div>
                                    <br/>


                                }

}