@(title: String, nav: String = "",scriptsTop:Html,scripts:Html,links:Html)(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
    <head>
        <title>@title</title>

            <!-- Le meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Play Authenticate - an authentication module for the Play! Framework 2.0">
        <meta name="author" content="The Play Authenticate Team">




            <!-- Le styles -->
        <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/animate.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/temp.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/landingpage/landing-page.css")" rel="stylesheet">

            <!-- Le scripts -->


        @links
        @scriptsTop


            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    </head>

    <body class="body-with-padding" style="background:#3FC380">



        <div class="container">
        @content
        </div>

        <script src="@routes.Application.jsRoutes" defer="defer"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
        <script src="@routes.Assets.at("js/bootstrap.js")"></script>


        @scripts


    </body>
</html>
